@model IEnumerable<bekami.Models.Product>
@using bekami.Models

@{
    ViewData["Title"] = "Shop";
}

<!--=Create a sort navbar =-->
<nav>
   
    <div class="navbar" >



     
            <select id="Size" class="btn " aria-labelledby="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" asp-items="@ViewBag.Size">

                <option value="null" hidden>Size</option>
                <option value="@Size.S">Small</option>
                <option value="@Size.M">Medium</option>
                <option value="@Size.L">Large</option>
                <option value="@Size.XL">X.Large</option>

            </select>
      
     


        <select id="Gender" class="btn " asp-items="@ViewBag.Gender">
            <option value="null" hidden>Gender</option>
            <option value="@Gender.man">Man</option>
            <option value="@Gender.woman">Woman</option>
        </select>

        <select id="Color" class="btn" asp-items="@ViewBag.ColorId">
            <option value="null" hidden>Select color</option>
        </select>
    </div>

    
    <div class="navbar-nav " style="padding: 7px 10px 50px 10px;" >

        <select id="Sort" class="btn custom-select-lg">

            <option value="null" hidden>Sort</option>
            <option value="alphabetical">Alphabetical</option>
            <option value="low2high">Price low to high</option>
            <option value="high2low">Price high to low</option>
        </select>
    </div>
</nav>


<section>
    <div class="col-form-label">
        <div class="card-deck ">

             

            @foreach (var item in Model)
            {
            <div class="card showing" style="min-width: 350px">
                <img src=@item.Imagepath class="card-title" style="max-block-size:300px;min-height:250px" >
                <div class="card-body">
                    <a class=" btn-light" style="color:lightpink; " asp-action="ProductPage" asp-route-id="@item.ProductId">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                    </a>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Size)
                        @Html.DisplayFor(modelItem => item.Color.Name)
                    </p>
                    <p class="card-text price">
                        price: @Html.DisplayFor(modelItem => item.Price) ₪
                    </p>
                </div>
                <h4 class="btn btn-light" style="color:lightpink; background-color:white;font-size:1.5rem">Buy now</h4>
                   
            </div>
            }
        </div>
       
   </div>
</section>
